<section id="footer"></section>
    <footer class="footer">
     <div class="option"></div>
    <a href="https://adalab.es/" >ARTICLES</a>
    <a href="https://adalab.es/" >BOOKS</a>
    <a href="https://adalab.es/" >EVENTS</a>
    <a href="https://adalab.es/" >REASONS</a>
    <a href="https://adalab.es/" >TIPS</a>
    
    <div class="rrss"></div>
    <a href="https://adalab.es/" >TWITTER</a>
    <a href="https://adalab.es/" >INSTAGRAM</a>
    <a href="https://adalab.es">MASTODON.SOCIAL</a>
  
    <h5>©2022</h5>
    <h5>we❤︎components</h5>
    </footer>
 