
    <section class=section-white>
      <h6>Insomnia Tips</h6>
      <h2 class="title">Looking Through A Window</h2>
      <p class="donec">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
      <button class="go">Go</button>
    </section>
    <section id="#home"></section>
    <section class="section-blue">
      
      <h2>3 Reasons To Purchase</h2>
      <div class="text-block">
        <h3>Ut sed metus</h3>
        <p>Lorem ipsum dolor sit amet, consecteur.</p>
      </div>
      <div class="text-block">
        <h3>Curabitur ac erat</h3>
        <p>Mauris mattis urna quis lorem molestie.</p>
      </div>
      <div class="text-block">
        <h3>Morbi dictum</h3>
        <p> Aliquam in dolor et dolor tincidunt.</p>
      </div>
      
      <button class="More-reasons">More reasons</button>
    <a href="#home">
      <img class="icon-arrow" src="./images/ico-arrow.svg" alt="flecha hacia arriba"></a>
    </section>
  