.option{
    margin-top: 5rem;
  }
  .rrss {
    margin-top: 4rem;
  }
  .footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 2.5rem;
    height: 600px;
    background-color: #304268;
    color: white;
    }
    a {
      color: white;
    }