h6{
  margin-top: 80px;
  color:#8ccbea ;
  font-size: 14px;
  
}
.title{
  margin-left: 0;
  margin-top: 1rem;
}
.section-white{
  line-height: 40px;
  text-align: start;
  margin-left: 20px;
  height: 370px;
  
  }
  .donec {
    font-size: 20px;
    margin-top: 1rem;
    
  }
  .go {
    width: 76px;
    height: 45px;
    border-radius: 22.5px;
    border: solid 2px #f26002;
    color: #f26002;
    margin-top:50px;
  }
  .section-blue {
    background-color: #eff9ff;
    height: 630px;
    display: grid;
    place-items: center; 
    height: 100vh;
   }
  .More-reasons {
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    background-color: #f26002;
    color: white;
    font-size: 20px;
    }
    .text-block {
      width: 180px;
      height: 63px;
      font-size: 18px;
      line-height: 2rem;
      text-align: center;
      margin-bottom: 50px;
      font-size: 20px;
      }
    
        
        .icon-arrow {
          background-color: white;
          border-radius: 50%;
          width: 50px;
          height: 50px;
          margin-bottom: -100px;
          }
          h2{
            font-size: 30px;
            margin-left: 68px;
            
          }