h6{
  font-family: "Roboto Slab", serif;
  margin-top: 80px;
  color:#8ccbea ;
  font-size: 14px;
  
}
.title{
  margin-left: 0;
  margin-top: 1rem;

}
.section-white{
  line-height: 40px;
  text-align: start;
  margin-left: 20px;
  height: 370px;
 
  
  }
  .donec {
    font-size: 20px;
    margin-top: 1rem;
   
    
  }
  .go {
    width: 76px;
    height: 45px;
    border-radius: 22.5px;
    border: solid 2px #f26002;
    color: #f26002;
    margin-top:50px;
  }
  .section-blue {
    background-color: #eff9ff;
    padding-block: 30px ;
    display: grid;
    place-items: center;
  }
    .grid-block {
      margin-top: 50px;

    }
    
  
   
  .More-reasons {
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    background-color: #f26002;
    color: white;
    font-size: 20px;
    }
    .text-block1 {
      width: 180px;
      height: 63px;
      font-size: 18px;
      line-height: 2rem;
      text-align: center;
      margin-bottom: 50px;
      font-size: 20px;
      margin-bottom: 100px;
     
      }
      .text-block2 {
        width: 180px;
        height: 63px;
        font-size: 18px;
        line-height: 2rem;
        text-align: center;
        margin-bottom: 50px;
        font-size: 20px;
        margin-bottom: 100px;
       
        }
        .text-block3 {
          width: 180px;
          height: 63px;
          font-size: 18px;
          line-height: 2rem;
          text-align: center;
          margin-bottom: 50px;
          font-size: 20px;
          margin-bottom: 100px;
         
          }
      
        
      
    
        
        .icon-arrow {
          background-color: white;
          border-radius: 50%;
          width: 50px;
          height: 50px;
          margin-bottom: -55px;
          }
          h2{
            font-size: 30px;
            margin-left: 68px;
          
          }
          @media (min-width: 768px) {
            .grid-block {
              display: grid;
              grid-template-columns: repeat(3, 1fr); 
              gap: 100px; 
              justify-items: center; 
            }
            .text-block1,
            .text-block2,
            .text-block3 {
              margin-bottom: 0;
            }
            .section-blue{
              height: 400px;
            }
            .More-reasons {
              margin-top: 120px;
            }
          }
          @media (min-width: 1300px){
            
              h6 {
                margin-left: 700px;
               
              }
              .title {
              margin-left: 700px;
              }
              .donec {
                margin-left: 700px;
                margin-right: 700px;
              }
              .go {
                margin-left: 700px;
              }
            
          }
          
          
        
 
            
          
          
          
          
            
          

            

            
        