

.icon-menu {
  border: solid #0271bc;
}

header {
  background-image: url("../images/cover.jpeg");
  background-size:cover;
  height:543px;
  width: 320px;
}

h1 {
  margin-top: 300px;
  text-align: center;
  color: white;
}

div {
  text-align: center;
  color: white;
}

.ico-scroll {
  width: 20px;
  height: 10px;
  flex-grow: 0;
  object-fit: contain;
}
.button{
  margin-left:9rem;
  margin-top: 2rem;
  border-radius: 50%;
  width: 37px;
  height: 37px;
}